<form action="/login" method = "POST">
    <H1>Space Launch Email Notification System.</H1>
       <H2>Receive launch details 1 hour before liftoff.</H2>
   <p>Email <input type = "text" name = "email" /></p>
   <p>Password (remember for unsubscribing) <input type = "password" name = "password" /></p>
   <p><input type = "submit" value = "Submit" /></p>
   <a href = "https://launchmail.pythonanywhere.com/delete">Unsubscribe</a></br></br>
   <!--<a href = "https://bit.ly/3Z8sJED">Live Data</a>-->
 <p><B>Note:</B></p>
 <p>1. Remember the password in order to unsubscribe.</p>
 <p>2. Do not add important passwords (backend users can see them).</p>
 <!--<p>3. Do not enter the same email and password more than once.</p>-->
 <p>3. For support contact <a href="mailto:crudespace@gmail.com">crudespace@gmail.com</a>.</p>
 </form>